/* Structure */
<<<<<<< HEAD
 
table {

  width: 150%;
    
  
}
.table{
  align-items: auto;
  margin-right: auto;
  margin-left: auto;  
}
  
  .mat-form-field {
    font-size: 14px;
    width: 150%;
  }
  
  .create-new {
    width: 150%;
  }

  .edit {
    width: auto;
  }

  
=======
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .create-new {
    width: 100%;
  }

  .edit {
    width: 50%;
  }
>>>>>>> 6600e1825fe91c4091ba2677ee66f7b3dbc5b513
